<nav class="navbar fixed-top border-bottom border-light navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
        <a class="image navbar-brand font-weight-bold" href="/home">
            <img src="https://i.ibb.co/3kdjwQM/Zashlios.png" alt="Zashlios" id="main-logo" />
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="<%= (typeof user !== 'undefined') ? 'nav-link active' : 'd-none' %>" aria-current="page" href="#">My Articles</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="<%= (typeof user !== 'undefined' && user.role !== 'Reader') ? 'nav-link active' : 'd-none' %>" aria-current="page" href="/new">Write an Article</a>
                </li>
            </ul>
            
            <h6 class="mt-2 mx-2" id="user"><%= (typeof user !== 'undefined') ? 'Welcome, ' + user.fname + '!': ' '%></h6>
            <form id="sign-in" class="form-inline my-2 my-lg-0 mr-3" action="/login">
                <input id="signinbtn"  type="submit" class="<%= (typeof user !== 'undefined') ? 'd-none' :'btn btn-primary my-2 my-sm-0' %>" value="Sign In">
            </form>
            <form class="form-inline my-2 my-lg-0" action="<%= (typeof user !== 'undefined') ? '/logout' : '/register' %>">
                <input id="signupbtn" type="submit" class="btn btn-light my-2 my-sm-0 mx-2 border border-dark" value="<%= (typeof user !== 'undefined') ? 'Logout' : 'Sign Up' %>">
            </form>
        </div>
    </div>
</nav>