<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/header.ejs', {page: 'User Dashboard'}) %>

</head>
<body>
    <%- include('../partials/nav.ejs') %>


    <!-- written articles -->
    <div class="content">
        <div class="article-content">
            <div class="user-header">
                <h1 id="dash-head">
                    <%= userPage.fname %>'s Page
                </h1>
                <p class="user-role"><em><%= userPage.role %> </em></p>
            </div>
            <hr>
            <h3 class="<%= (userPage.role === 'Reader') ? 'd-none' : 'user-subheader' %> ">Stories Written</h3>
            <hr class="<%= (userPage.role === 'Reader') ? 'd-none' : 'written-sepline' %> " id="write-breakline">
            <div class="card-container-for-render">
                <% for(let i=userPage.writtenArticles.length - 1; i >= 0; i--){ %>
                        <div class="card-for-render">
                        <div class="card-content-for-render">
                            <div class="card-img">
                                <img src="<%= userPage.writtenArticles[i].articleImage %>" alt="articel image">
                            </div>
                            <div class="main-card-content">
                                <div class="card-title">
                                    <a href="/<%= userPage.writtenArticles[i].id %>"><h4><%= userPage.writtenArticles[i].title %></h4></a>
                                </div>
                                <div class="card-other">
                                    <div class="card-author">
                                        <p class="author-likedart">
                                            <%= userPage.writtenArticles[i].author %>
                                        </p>
                                        <p class="date-topic">
                                            <%= userPage.writtenArticles[i].date %> - <%= userPage.writtenArticles[i].topic %>
                                        </p>

                                    </div>
                                    <div class="card-view">
                                        <p class="card-view-count">
                                            Views: <%= userPage.writtenArticles[i].views %>
                                        </p>
                                        <p class="likes-card"><i class="bi bi-heart-fill"></i></a> <span class="like-counter"><%= userPage.writtenArticles[i].likes %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

            <!-- liked articles -->
            <div class="article-content">
                <h3 class="user-subheader-likes">Stories Liked</h3>
                <hr class="written-sepline">
                <div class="card-container-for-render">
                <% for(let i=userPage.likedArticles.length - 1; i >= 0; i--){ %>
                    <div class="card-for-render">
                        <div class="card-content-for-render">
                            <div class="card-img">
                                <img src="<%= userPage.likedArticles[i].articleImage %>" alt="articel image">
                            </div>
                            <div class="main-card-content">
                                <div class="card-title">
                                    <a href="/<%= userPage.likedArticles[i].id %>"><h4><%= userPage.likedArticles[i].title %></h4></a>
                                </div>
                                <div class="card-other">
                                    <div class="card-author">
                                        <p class="author-likedart">
                                            <%= userPage.likedArticles[i].author %>
                                        </p>
                                        <p class="date-topic">
                                            <%= userPage.likedArticles[i].date %> - <%= userPage.likedArticles[i].topic %>
                                        </p>

                                    </div>
                                    <div class="card-view">
                                        <p class="card-view-count">
                                            Views: <%= userPage.likedArticles[i].views %>
                                        </p>
                                        <p class="likes-card"><i class="bi bi-heart-fill"></i></a> <span class="like-counter"><%= userPage.likedArticles[i].likes %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>