<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/header.ejs', {page: 'User Dashboard'}) %>

</head>
<body>
    <%- include('../partials/nav.ejs') %>


    <!-- written articles -->
    <div class="content">
        <div class="article-content">
            <div class="user-header">
                <h1 id="dash-head">
                    <%= userPage.fname %>'s Page
                </h1>
            </div>
            <h3 class="<%= (user.role === 'Reader') ? 'd-none' : 'user-subheader' %> ">Stories Written</h3>
                <% for(let i=userPage.writtenArticles.length - 1; i >= 0; i--){ %>
                <div class="auth-date-views">
                    <div class="author-date">
                        <p class="author">
                            <%= userPage.writtenArticles[i].author %>
                        </p>

                        <p class="date">
                            <%= userPage.writtenArticles[i].date %> - <%= userPage.writtenArticles[i].topic %>
                        </p>
                    </div>
                    <div class="views">
                        <p>
                            Views: <%= userPage.writtenArticles[i].views %>
                        </p>
                    </div>
                </div>
                    <h1 class="title">
                        <%= userPage.writtenArticles[i].title %>
                    </h1>

                    <img src="<%= userPage.writtenArticles[i].articleImage %>" alt="Placeholder image" class="article-image" />

                    <p class="quick-look">
                        <b><em>Quick Look: </em></b> <%= userPage.writtenArticles[i].quickLook %>
                    </p>

                    <a href="/<%= userPage.writtenArticles[i].id %>" class="article-link">Go Deeper <i class="bi bi-arrow-right"></i></a>
                    <hr>
                    <% } %>
            </div>

            <!-- liked articles -->
            <div class="article-content">
                <h3 class="user-subheader">Stories Liked</h3>
                <% for(let i=userPage.likedArticles.length - 1; i >= 0; i--){ %>
                <div class="auth-date-views">
                    <div class="author-date">
                        <p class="author">
                            <%= userPage.likedArticles[i].author %>
                        </p>

                        <p class="date">
                            <%= userPage.likedArticles[i].date %> - <%= userPage.likedArticles[i].topic %>
                        </p>
                    </div>
                    <div class="views">
                        <p>
                            Views: <%= userPage.likedArticles[i].views %>
                        </p>
                    </div>
                </div>
                    <h1 class="title">
                        <%= userPage.likedArticles[i].title %>
                    </h1>

                    <img src="<%= userPage.likedArticles[i].articleImage %>" alt="Placeholder image" class="article-image" />

                    <p class="quick-look">
                        <b><em>Quick Look: </em></b> <%= userPage.likedArticles[i].quickLook %>
                    </p>

                    <a href="/<%= userPage.likedArticles[i].id %>" class="article-link">Go Deeper <i class="bi bi-arrow-right"></i></a>
                    <hr>
                    <% } %>
            </div>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>