<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/header.ejs', {page: 'Go Deeper'}) %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
        <div class="article-content">
            <div class="auth-date-views">
                <div class="author-date">
                    <p class="date">
                        <%= article.date %> - <%= article.topic %>
                    </p>
                </div>
            </div>
                    <h1 class="title">
                        <%= article.title %>
                    </h1>
                <div class="auth-likes">
                    <p class="author-fulltext">
                        <%= article.author %>
                    </p>
                    <p class="likes"><a class="like-click" userId="<%= article.id %>" onclick="updateLikes()"><i class="bi bi-heart"></i></a> <span class="like-counter"><%= article.likes %></span></p>
                </div>
                    <img src="<%= article.articleImage %>" alt="Placeholder image" class="article-image" />

                    <p class="full-text">
                        <%= article.fullText %>
                    </p>

                <div class="create-comments bg-light">
                    <form action="/<%= article.id %>/comment" method="POST">
                        <div class="col-11 mx-auto">
                            <h4 class="comment-label">Comment</h4>
                        </div>
                        <div class="col-11 mx-auto">
                            <textarea class="comment-box form-control" name="comment" id="post-comment" rows="2" placeholder="Write a comment here"></textarea>
                        </div>
                        <div class="col-11 mx-auto">
                            <input class="comment-button btn btn-primary my-3" type="submit" value="Post Comment">
                            <input type="hidden" name="article" value="<%= article._id%>">
                        </div>
                    </form>
                </div>

                <hr class="comment-sepline">

                <div class="all-comments">
                    <h4>All Comments</h4>
                    <hr>
                    <% comments.forEach (comment => { %>
                    <p class="comment-user"><%= comment.user %></p>
                    <p class="comments"><%= comment.comment %></p>
                    <p class="comment-date"><%= comment.date %></p>
                    <hr>
                    <% }) %>
                </div>

                <div class="input">
                    <form id="edit-form" class="form-inline" action="/<%= article.id %>/edit">
                        <input id="edit-edit" type="submit" class="btn btn-primary my-4" value="Edit">
                    </form>

                    <form id="delete-form" class="form-inline" action="/<%= article.id %>?_method=DELETE" method="POST">
                        <input id="edit-delete" type="submit" class="btn btn-light my-4 my-sm-0 border border-dark" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>

function updateLikes () {
    article = $('.like-click').attr('userId');
    $.post('/' + article, function (res) {
        $('.like-counter').text(res.likes)
    });
}

function updateComments () {
    comment = $('.like-click').attr('userId');
    $.post('/' + article, function (res) {
        $('.like-counter').text(res.likes)
    });
}

    $('.bi-heart').click(function () {
        $(this).toggleClass('bi-heart');
        $(this).toggleClass('bi-heart-fill');
    });
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>